* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Toàn bộ thanh trượt cho màn hình lớn hơn (desktop/tablet) */
::-webkit-scrollbar {
  width: 2px; /* Độ rộng của thanh cuộn */
  height: 2px; /* Chiều cao của thanh cuộn ngang */
}

/* Phần background của thanh trượt */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền của thanh trượt đã đổi sang màu nhạt hơn */
  border-radius: 10px; /* Bo tròn các góc của thanh trượt */
}

/* Phần di chuyển của thanh trượt */
::-webkit-scrollbar-thumb {
  background-color: #2c7a7b; /* Màu của phần thanh di chuyển đổi sang màu xanh đậm hơn */
  border-radius: 10px; /* Bo tròn các góc của thanh di chuyển */
  
}

/* Khi người dùng hover vào thanh trượt */
::-webkit-scrollbar-thumb:hover {
  background-color: #285e61; /* Màu khi hover chuyển sang màu đậm hơn */
}

/* Tùy chỉnh thanh trượt cho màn hình di động */
@media (max-width: 767px) {
  /* Điều chỉnh độ rộng và chiều cao của thanh trượt trên mobile */
  ::-webkit-scrollbar {
    width: 2px; /* Thanh trượt nhỏ hơn */
    height: 2px; /* Thanh ngang nhỏ hơn */
  }

  /* Phần background của thanh trượt */
  ::-webkit-scrollbar-track {
    background: #e2e8f0; /* Màu nền sáng hơn một chút */
    border-radius: 5px; /* Góc bo ít hơn trên mobile */
  }

  /* Phần di chuyển của thanh trượt */
  ::-webkit-scrollbar-thumb {
    background-color: #319795; /* Màu phần thanh di chuyển đổi sang xanh đậm */
    border-radius: 4px; /* Bo góc ít hơn trên mobile */
    
  }

  /* Khi người dùng hover vào thanh trượt */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2c7a7b; /* Màu khi hover trên mobile */
  }
}
